
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.space2{
    display: none;
}

@font-face{
    font-family: parisienne;
    src: url('../source/Font/parisienne/parisienne-regular.ttf');
}

@font-face{
    font-family: JosefinSans;
    src: url('../source/Font/Josefin_Sans/static/JosefinSans-Light.ttf');
}

@keyframes windy{
    from{
        transform: skewX(0) skewY(0) translate(-50%,-50%);
    }
    to{
        transform: skewX(1deg) skewY(-1deg) translate(-50%,-50%);
    }
}

@keyframes windy2{
    from{
        transform: skewX(0) skewY(0) rotate(0);
    }
    to{
        transform: skewX(2deg) skewY(-2deg) rotate(0);
    }
}

@keyframes windy3{
    from{
        transform: skewX(0) skewY(0) rotate(180deg);
    }
    to{
        transform: skewX(2deg) skewY(-2deg) rotate(180deg);
    }
}

@keyframes windy4{
    from{
        transform: skewX(0) skewY(0) translate(-50%,0);
    }
    to{
        transform: skewX(1deg) skewY(-1deg) translate(-50%,0);
    }
}


body{
    font-family: JosefinSans;
    color: rgb(152, 5, 56);
    background: url('../source/img/bg\ canvas\ putih.jpeg');
    overflow: hidden;
    font-weight: 100;

    .opening{
        position: relative;
        height: 100vh;
        width: 100%;

        .counter{
            width: 50%;
            bottom: 22%;
            left: 50%;
            transform: translate(-50%,0);
            position: absolute;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;

            .counts{
                display: inline-block;
                text-align: center;
                margin: 0 1vh;

                span{
                    display: block;
                    width: 100%;
                    height: 8vh;
                    font-size: 3vh;
                    background-color: white;
                    border-radius: 5px;
                    line-height: 8vh;
                    margin-bottom: 1vh;
                }

                p{
                    display: inline;
                    position: static;
                    font-size: 2vh;
                }
            }
        }

        p{
            position: absolute;
            top: 3%;
            font-size: 2vh;
            left: 50%;
            font-style: italic;
            transform: translate(-50%,-50%);

            &:nth-of-type(2){
                top: 85%;
                cursor: pointer;

                &::after{
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    width: 3vh;
                    height: 3vh;
                    transform-origin: center center;
                    border-left: 1px solid rgb(152, 5, 56);
                    border-bottom: 1px solid rgb(152, 5, 56);
                    transform: rotate(-45deg) translate(-50%,-50%);
                }
            }
        }

        img{
            position: absolute;
            width: 30vh;
            height: 30vh;
            top: 45%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation: windy 3s infinite alternate linear;
        }

        h1{
            position: absolute;
            font-size: 10vh;
            line-height: 10vh;
            top: 20%;
            left: 50%;
            width: 70%;
            transform: translate(-50%,-50%);
            text-align: center;
            font-family: parisienne;
            font-weight: 300;
            
        }
        
        h2{
            position: absolute;
            width: 80%;
            font-size: 3vh;
            font-weight: lighter;
            bottom: 36%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
    }
    
    .content{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        .name{
        position: relative;
        top: 50%;
        transform: translate(0,-50%);

            img{
                width: 7vh;
                height: 7vh;
                margin: 0 0 0 50%;
                transform: translate(-50%,0);
            }
    
            p{
                text-align: center;
                font-size: 5vh;
                font-family: parisienne;
                font-weight: normal;
                width: 90%;
                margin: 0 auto;
                line-height: 10vw;
            }
    
            span{
                font-size: 3vh;
                line-height: 1vh;
                text-align: center;
                font-family: JosefinSans;
                font-weight: lighter;
                width: 90%;
                margin: 0 auto;
            }

            


        
        }
        
        .flowerBorder{
            position: absolute;
            width: 30vh;
            height: 30vh;
            margin: 0;
            bottom: -5%;
            left: -5%;
            transform: rotate(15deg);
            animation: windy2 2s infinite alternate linear;
            transform-origin: center;
        }

        .flowerBorder2{
            transform-origin: center;
            position: absolute;
            width: 30vh;
            height: 30vh;
            margin: 0;
            top: -5%;
            right: -5%;
            transform: rotate(-15deg);
            animation: windy3 2s infinite alternate linear;
    }

    }

    .dateTime{
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: rgb(255, 238, 229);
        

        .location{
            // width: 80%;
            // position: absolute;
            // left: 50%;
            // top: 25%;
            // transform: translate(-50%,-50%);
            

            h2{
                font-size: 7vh;
                text-align: center;
                font-family: parisienne;
                font-weight: lighter;
                position: absolute;
                top: 10%;
                width: 100%;
                transform: translate(0,-50%);
            }

            .locate{
                width: 80%;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%,-50%);

                p{
                    font-size: 3vh;
                    margin: 5vh 0;
                    display: flex;
                    align-items: center;
                    
    
                    img{
                        width: 5vh;
                        height: 5vh;
                        display: inline;
                        fill: rgb(152, 5, 56);
                        margin-right: 3vw;
                    }
                }
            }


            
        }

        .links{

            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            top: 50%;

            a{
                width: 60%;
                padding: 3vh 3vh;
                text-decoration: none;
                color: inherit;
                background: white;
                border-radius: 5px;
                text-align: center;
                margin: 2vh auto;
                font-size: 3vh;

                &:nth-of-type(3){
                    padding: 0;
                    font-size: 2vh;
                    background-color: rgb(255, 238, 229);

                    img{
                        width: 50%;
                    }
                }
            }

        }
    }


    .notes{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        h2{
            text-align: center;
            font-size: 5vh;
            font-family: parisienne;
            font-weight: 450;
            position: absolute;
            width: 80%;
            left: 50%;
            top: 30%;
            transform: translate(-50%,-50%);
        }

        p{
            text-align: center;
            width: 80%;
            position: absolute;
            left: 50%;
            top: 60%;
            font-size: 3vh;
            transform: translate(-50%,-50%);
        }

        img{
            width: 10vh;
            height: 10vh;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation: windy4 3s infinite alternate linear;

            &:nth-of-type(2){
                top: 85%;
            }
        }

       

    }

    .vid{
        width: 100%;
        background-color: rgb(152, 5, 56);

        h2{
            font-family: parisienne;
            font-size: 6vh;
            font-weight: 100;
            text-align: center;
            color: white;
        }

        video{
            display: block;
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }

    .comSection{
        width: 100%;
        background-color: rgb(255, 233, 221);

        h2{
            text-align: center;
            font-size: 5vh;
            margin-bottom: 5vh;
            font-family: parisienne;
            font-weight: lighter;
        }

        img{
            width: 10vh;
            height: 10vh;
            margin: 0 auto;
            display: block;
        }

        .comments{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            
            p{
                font-size: 3vh;
                text-align: left;
                color: black;
                word-wrap: break-word;
                font-weight: 100;

                span{
                    font-size: 4vh;
                    color: rgb(152, 5, 56);
                    font-weight: bold;
                }
            }
        }

        .form{
            width: 80%;
            margin: 3vh auto;

            label{
                width: 100%;
                font-size: 5vw;

                input{
                    width: 100%;
                    height: 4vh;
                    outline: none;
                    border-radius: 8px;
                    border: none;
                }

                textarea{
                    width: 100%;
                    height: 50px;
                    resize: none;
                    outline: none;
                    border-radius: 8px;
                    border: none;
                }

            }

            span{
                text-align: center;
                font-size: 3vw;
                margin: 4vw auto 0;
                display: block;
                color: red;
                opacity: 0;
            }

            button{
                cursor: pointer;
                width: 50%;
                margin: 1vw auto 5vw;
                outline: none;
                border: none;
                background-color: transparent;
                font-size: 4vw;
                padding: 2vw;
                border-radius: 10px;
                display: block;
                color: rgb(152, 5, 56);
                border: 1px solid rgb(152, 5, 56);
            }

        }
    }

}






@media only screen and ( min-width: 800px ){

    body{
        overflow: hidden;

        .opening{

            p{
                font-size: 3vh;
            }

            img{
                width: 30vh;
                height: 30vh;
            }

            h1{
                font-size: 12vh;
                line-height: 12vh;
            }

            .counter{
                p{
                    font-size: 3vh !important;
                    
                }
                span{
                    font-size: 5vh !important;
                };
            }
        }

        .content{
            img{
                width: 10vw !important;
                height: 10vw !important;
            }
            p{
                font-size: 4vw !important; 
                line-height: 3vw !important;
            }
            span{
                font-size: 2vw !important;
                line-height: 2vw !important;
            }

            .flowerBorder, .flowerBorder2{
                width: 28vw !important;
                height: 28vw !important;
            }
          
        }

        .dateTime{
            .space{
                display: none;
            }
            .location{

                .locate{
                    width: unset;
                }

                .space{
                    display: none;
                }

                h2{
                    font-size: 5vw;
                }

                p{
                    font-size: 5vw;

                    img{
                        width: 4vw;
                        height: 4vw;
                        margin-right: 1vw;
                    }
                }
            }
            .links{
                a{
                    width: 30%;
                    padding: 2vw 3vw;
                    margin: 0.5vw auto;
                    border-radius: 10px;
                }
            }
        }

        .notes{
  

           img{
               width: 5vw;
               height: 5vw;
           }

           h2{
               font-size: 5vw;
           }

           p{
               font-size: 2vw;
           }
                
            
        }

        .vid{
            h2{
                font-size: 5vw;
            }

            video{
                width: 60%;
            }
        }

        .comSection{
            h2{
                font-size: 5vw;
            }

            img{
                width: 10vw;
                height: 10vw;
            }

            .form{
                width: 40%;

                label{
                    font-size: 2vw;

                    input{
                        height: 3vw;
                    }
                }

                span{
                    font-size: 1.5vw;
                }

                button{
                    padding: 1vw 3vw;
                    font-size: 2vw;
                }
            }

            .comments{
                p{
                    font-size: 2vw;

                    span{
                        font-size: 2vw;
                    }
                }
            }
        }

    }
}