
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.space2{
    display: none;
}

@font-face{
    font-family: parisienne;
    src: url('../source/Font/parisienne/parisienne-regular.ttf');
}

@font-face{
    font-family: JosefinSans;
    src: url('../source/Font/Josefin_Sans/static/JosefinSans-Light.ttf');
}

@font-face{
    font-family: JosefinSansBold;
    src: url('../source/Font/Josefin_Sans/static/JosefinSans-Bold.ttf');
}

@keyframes windy{
    from{
        transform: skewX(0) skewY(0) translate(-50%,-50%);
    }
    to{
        transform: skewX(1deg) skewY(-1deg) translate(-50%,-50%);
    }
}

@keyframes windy2{
    from{
        transform: skewX(0) skewY(0) rotate(0);
    }
    to{
        transform: skewX(2deg) skewY(-2deg) rotate(0);
    }
}

@keyframes windy3{
    from{
        transform: skewX(0) skewY(0) rotate(180deg);
    }
    to{
        transform: skewX(2deg) skewY(-2deg) rotate(180deg);
    }
}

@keyframes windy4{
    from{
        transform: skewX(0) skewY(0) translate(-50%,0);
    }
    to{
        transform: skewX(1deg) skewY(-1deg) translate(-50%,0);
    }
}


body{
    font-family: JosefinSans;
    color: rgb(152, 5, 56);
    background: url('../source/img/bg\ canvas\ putih.jpeg');
    overflow: hidden;
    overflow-x: hidden;
    font-weight: 100;

    .audio{
        position: fixed;
        left: 5%;
        bottom: 15px;
        width: 8%;
        height: 8vw;
        outline: none;
        border-radius: 50%;
        border: none;
        opacity: 0.9;
        cursor: pointer;
        z-index: 5;
    
        &:hover{
            filter: brightness(120%);
        }
    
        .fa{
            display: none;
            font-size: 6vw;
            color: rgb(167, 167, 167);
    
    
        }
    
        .fa-volume-off{
            display: block;
        }
    }

    .opening{
        position: relative;
        height: 100vh;
        width: 100%;

        .counter{
            width: 70%;
            bottom: 22%;
            left: 50%;
            transform: translate(-50%,0);
            position: absolute;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;

            .counts{
                display: inline-block;
                text-align: center;
                margin: 0 1vh;

                span{
                    display: block;
                    width: 100%;
                    height: 8vh;
                    font-size: 4vh;
                    background-color: transparent;
                    border-radius: 5px;
                    line-height: 8vh;
                    margin-bottom: 1vh;
                    font-weight: bolder;
                    font-family: JosefinSansBold;
                }

                p{
                    display: inline;
                    position: static;
                    font-size: 2vh;
                }
            }
        }

        p{
            position: absolute;
            top: 3%;
            font-size: 2vh;
            left: 50%;
            font-style: italic;
            transform: translate(-50%,-50%);

            &:nth-of-type(2){
                top: 85%;
                cursor: pointer;
                font-style: normal;

                &::after{
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    width: 3vh;
                    height: 3vh;
                    transform-origin: center center;
                    border-left: 1px solid rgb(152, 5, 56);
                    border-bottom: 1px solid rgb(152, 5, 56);
                    transform: rotate(-45deg) translate(-50%,-50%);
                }
            }
        }

        img{
            position: absolute;
            width: 28vh;
            height: 28vh;
            top: 20%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation: windy 3s infinite alternate linear;
        }

        h1{
            position: absolute;
            font-size: 10vh;
            line-height: 10vh;
            top: 45%;
            left: 50%;
            width: 70%;
            transform: translate(-50%,-50%);
            text-align: center;
            font-family: parisienne;
            font-weight: 300;
            
        }
        
        h2{
            position: absolute;
            width: 80%;
            font-size: 3vh;
            font-weight: 100;
            bottom: 36%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
    }
    
    .content{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        .para{
            text-align: center;
            font-size: 1.5vh;
            width: 60%;
            margin: 0 auto;
            line-height: 8vw;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%,0);
            line-height: 2vh;
        }

        .name{
        position: relative;
        top: 50%;
        transform: translate(0,-50%);

            img{
                width: 7vh;
                height: 7vh;
                margin: 0 0 0 50%;
                transform: translate(-50%,0);
            }
    
            p{
                text-align: center;
                font-size: 8vw;
                font-family: parisienne;
                font-weight: normal;
                width: 90%;
                margin: 0 auto;
                line-height: 8vw;
            }
    
            span{
                font-size: 4vw;
                line-height: 0;
                text-align: center;
                font-family: JosefinSans;
                font-weight: lighter;
                width: 90%;
                margin: 0 auto;
            }

            


        
        }
        
        .flowerBorder{
            position: absolute;
            width: 30vh;
            height: 30vh;
            margin: 0;
            bottom: -5%;
            left: -5%;
            transform: rotate(15deg);
            animation: windy2 2s infinite alternate linear;
            transform-origin: center;
        }

        .flowerBorder2{
            transform-origin: center;
            position: absolute;
            width: 30vh;
            height: 30vh;
            margin: 0;
            top: -5%;
            right: -5%;
            transform: rotate(-15deg);
            animation: windy3 2s infinite alternate linear;
    }

    }

    .dateTime{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        background-color: rgb(255, 238, 229);
        

        .location{
            width: 80%;
            position: absolute;
            left: 50%;
            top: 25%;
            transform: translate(-50%,-50%);
            background-color: rgb(250, 246, 244);
            border-radius: 15px;
            

            h2{
                font-size: 8vw;
                text-align: center;
                font-family: parisienne;
                font-weight: lighter;
                position: static;
                margin: 2vh 0;
           
            }

            .locate{
                width: 80%;
                position: static;
                margin: 0 auto;

                p{
                    font-size: 4vw;
                    margin: 1vh 0;
                    display: flex;
                    align-items: center;
                    
    
                    img{
                        width: 8vw;
                        height: 8vw;
                        display: inline;
                        fill: rgb(152, 5, 56);
                        margin-right: 3vw;
                    }
                }
            }


            .flower{
                width: 25vh;
                height: 25vh;
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(40%,30%);
            }
        }

        .links{

            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            top: 50%;

            p{
                font-size: 4vw;
                text-align: center;
            }

            a{
                width: 70%;
                padding: 2vh 3vh;
                text-decoration: none;
                color: inherit;
                color: white;
                background-color: rgb(152, 5, 56);
                border-radius: 10px;
                text-align: center;
                margin: 2vh auto;
                font-size: 5vw;

                &:nth-of-type(3){
                    padding: 0;
                    font-size: 2vh;
                    background-color: rgb(255, 238, 229);
                    color: rgb(152, 5, 56);

                    img{
                        width: 50%;
                    }
                }
            }

        }
    }


    .notes{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .note{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            transform: translate(-50%,-50%);

            h2{
                position: static;
                text-align: center;
                font-size: 5vh;
                font-family: parisienne;
                font-weight: 450;
            }
    
            p{
                position: static;
                text-align: center;
                font-size: 2.5vh;
                transform: none;
            }
        }

        p{
            position: absolute;
            font-size: 2.5vh;
            bottom: 10%;
            left: 50%;
            text-align: center;
            transform: translate(-50%,50%);
        }

        img{
            width: 25vh;
            height: 25vh;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation: windy 3s infinite alternate linear;

            &:nth-of-type(2){
                top: 80%;
                height: 10vh;
                width: 10vh;
            }
        }

       

    }

    .vid{
        width: 100%;
        background-color: rgb(152, 5, 56);

        h2{
            font-family: parisienne;
            font-size: 6vh;
            font-weight: 100;
            text-align: center;
            color: white;
        }

        video{
            display: block;
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }

    .comSection{
        width: 100%;
        background-color: rgb(255, 233, 221);
        position: relative;

        h2{
            text-align: center;
            font-size: 5vh;
            font-family: parisienne;
            font-weight: lighter;
        }

        p{
            font-size: 2vh;
            text-align: center;
            margin-bottom: 5vh;
        }

        .images{
            width: 100%;
            height: 20vh;
            top: 0;
            left: 0;
            position: absolute;
            overflow: hidden;

            img{
                position: absolute;
                top: 5%;
                left: 0%;
                width: 15vh;
                height: 15vh;
                transform: translate(-50%,-32%) rotate(45deg);
    
                &:nth-of-type(2){
                    left: 97%;
                    transform: translate(-50%,-32%) rotate(-45deg);
    
                }
            }
        }

        

        .comments{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            
            p{
                font-size: 2vh;
                text-align: left;
                color: black;
                word-wrap: break-word;
                font-weight: 100;
                background-color: white;
                padding: 3vw;
                border-radius: 10px;
                margin-bottom: 2vh;
                position: relative;
                z-index: 4;

                span{
                    display: block;
                    font-size: 3vh;
                    color: rgb(152, 5, 56);
                    font-weight: bold;
                    margin-bottom: 1vh;
                }
            }
        }

        .form{
            width: 80%;
            margin: 3vh auto;

            label{
                width: 100%;
                font-size: 5vw;
                

                input{
                    width: 100%;
                    height: 40px;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    margin-top: 6px;
                }

                textarea{
                    width: 100%;
                    height: 100px;
                    resize: none;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    margin-top: 6px;
                }

            }

            span{
                text-align: center;
                font-size: 3vw;
                margin: 4vw auto 0;
                display: block;
                color: red;
                opacity: 0;
            }

            button{
                cursor: pointer;
                width: 50%;
                margin: 1vw auto 5vw;
                outline: none;
                border: none;
                background-color: transparent;
                font-size: 4vw;
                padding: 2vw;
                border-radius: 10px;
                display: block;
                color: rgb(152, 5, 56);
                border: 2px solid rgb(152, 5, 56);
            }

        }
    }

}






@media only screen and ( min-width: 800px ){

    body{
        overflow: hidden;

        .audio{
            width: 3.5%;
            height: 3.5vw;

            .fa{
                font-size: 2.5vw;
            }
        }

        .opening{

            p{
                font-size: 3vh;
            }

            img{
                width: 30vh;
                height: 30vh;
            }

            h1{
                font-size: 12vh;
                line-height: 12vh;
            }

            .counter{
                p{
                    font-size: 3vh !important;
                    
                }
                span{
                    font-size: 5vh !important;
                };
            }
        }

        .content{
            img{
                width: 4vw !important;
                height: 4vw !important;
            }
            p{
                font-size: 4vw !important; 
                line-height: 3vw !important;
            }
            span{
                font-size: 2vw !important;
                line-height: 2vw !important;
            }

            .flowerBorder, .flowerBorder2{
                width: 28vw !important;
                height: 28vw !important;
            }

            .para{
                top: 10%;
                font-size: 3vh !important;
            }
          
        }

        .dateTime{
            .space{
                display: none;
            }
            .location{
                width: 50%;

                .locate{

                    p{
                        font-size: 2vw;
                    }

                    

                    img{
                        width: 3vw !important;
                        height: 3vw !important;
                    }
                }

                h2{
                    font-size: 8vh;
                }

                img{
                    width: 40vh !important;
                    height: 40vh !important;
                }
            }
            .links{

                p{
                    font-size: 3vh;
                }

                a{
                    width: 30%;
                    font-size: 3vh;
                    padding: 2vh 1vh;
                }
            }
        }

        .notes{
  

        .note{

            h2{
                font-size: 10vh;
            }

            p{
                font-size: 4vh;
            }

        }
                
        p{
            font-size: 3vh;
        }
    
            
        }

        .vid{
            h2{
                font-size: 5vw;
            }

            iframe{
                width: 60%;
                height: 35vw;
            }
        }

        .comSection{
            h2{
                font-size: 5vw;
            }

            P{
                font-size: 4vh;
            }

            img{
                width: 20vh !important;
                height: 20vh !important;
            }

            .form{
                width: 40%;

                label{
                    font-size: 2vw;

                    input{
                        height: 3vw;
                    }
                }

                span{
                    font-size: 1.5vw;
                }

                button{
                    padding: 1vw 3vw;
                    font-size: 2vw;
                }
            }

            .comments{
                p{
                    font-size: 2vw;

                    span{
                        font-size: 2vw;
                    }
                }
            }
        }

    }
}