* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: parisienne;
  src: url("../source/Font/parisienne/parisienne-regular.ttf");
}
@font-face {
  font-family: JosefinSans;
  src: url("../source/Font/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf");
}
@keyframes windy {
  from {
    transform: skewX(0) skewY(0) translate(-50%, -50%);
  }
  to {
    transform: skewX(1deg) skewY(-1deg) translate(-50%, -50%);
  }
}
@keyframes windy2 {
  from {
    transform: skewX(0) skewY(0) rotate(0);
  }
  to {
    transform: skewX(2deg) skewY(-2deg) rotate(0);
  }
}
@keyframes windy3 {
  from {
    transform: skewX(0) skewY(0) rotate(180deg);
  }
  to {
    transform: skewX(2deg) skewY(-2deg) rotate(180deg);
  }
}
@keyframes windy4 {
  from {
    transform: skewX(0) skewY(0) translate(-50%, 0);
  }
  to {
    transform: skewX(1deg) skewY(-1deg) translate(-50%, 0);
  }
}
body {
  font-family: JosefinSans;
  color: #980538;
  background: url("../source/img/bg canvas putih.jpeg");
  overflow: hidden;
}
body .opening {
  position: relative;
  height: 100vh;
  width: 100%;
}
body .opening .counter {
  width: 50%;
  bottom: 22%;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
body .opening .counter .counts {
  display: inline-block;
  text-align: center;
  margin: 0 1vh;
}
body .opening .counter .counts span {
  display: block;
  width: 6vh;
  height: 8vh;
  font-size: 4vh;
  background-color: white;
  border-radius: 5px;
  line-height: 8vh;
  margin-bottom: 1vh;
}
body .opening .counter .counts p {
  display: inline;
  position: static;
  font-size: 4vw;
}
body .opening p {
  position: absolute;
  top: 3%;
  font-size: 5vw;
  left: 50%;
  font-style: italic;
  transform: translate(-50%, -50%);
}
body .opening p:nth-of-type(2) {
  top: 85%;
}
body .opening p:nth-of-type(2)::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 3vh;
  height: 3vh;
  transform-origin: center center;
  border-left: 1px solid #980538;
  border-bottom: 1px solid #980538;
  transform: rotate(-45deg) translate(-50%, -50%);
}
body .opening img {
  position: absolute;
  width: 50vw;
  height: 50vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: windy 3s infinite alternate linear;
}
body .opening h1 {
  position: absolute;
  font-size: 18vw;
  line-height: 17vw;
  top: 20%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: parisienne;
  font-weight: 300;
}
body .opening h2 {
  position: absolute;
  width: 80%;
  font-size: 5vw;
  font-weight: lighter;
  bottom: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
body .content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body .content .name {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
body .content .name img {
  width: 7vw;
  height: 7vw;
  margin: 0 0 0 50%;
  transform: translate(-50%, 0);
}
body .content .name p {
  text-align: center;
  font-size: 8vw;
  font-family: parisienne;
  font-weight: 450;
  width: 90%;
  margin: 0 auto;
  line-height: 10vw;
}
body .content .name span {
  font-size: 5vw;
  line-height: 1vw;
  text-align: center;
  font-family: JosefinSans;
  font-weight: lighter;
  width: 90%;
  margin: 0 auto;
}
body .content .name h3 {
  text-align: center;
  font-size: 8vw;
}
body .content .flowerBorder {
  position: absolute;
  width: 50vw;
  height: 50vw;
  margin: 0;
  bottom: -5%;
  left: -5%;
  transform: rotate(15deg);
  animation: windy2 2s infinite alternate linear;
  transform-origin: center;
}
body .content .flowerBorder2 {
  transform-origin: center;
  position: absolute;
  width: 50vw;
  height: 50vw;
  margin: 0;
  top: -5%;
  right: -5%;
  transform: rotate(-15deg);
  animation: windy3 2s infinite alternate linear;
}
body .dateTime {
  width: 100%;
  height: 100vh;
  background-color: #ffeee5;
}
body .dateTime .location {
  width: 80%;
  margin: 5vh auto;
}
body .dateTime .location h2 {
  font-size: 10vw;
  text-align: center;
  font-family: parisienne;
  font-weight: lighter;
}
body .dateTime .location p {
  font-size: 4vw;
  margin: 5vw 0 5vw 5vw;
  display: flex;
  align-items: center;
}
body .dateTime .location p img {
  width: 8vw;
  height: 8vw;
  display: inline;
  fill: #980538;
  margin-right: 3vw;
}
body .dateTime .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
body .dateTime .links a {
  width: 60%;
  padding: 5vw 5vw;
  text-decoration: none;
  color: inherit;
  background: white;
  border-radius: 5px;
  text-align: center;
  margin: 3vw auto;
}
body .dateTime .links a:nth-of-type(3) {
  padding: 0;
  background-color: #ffeee5;
}
body .dateTime .links a:nth-of-type(3) img {
  width: 50%;
}
body .notes {
  width: 100%;
  height: 100vh;
  position: relative;
}
body .notes h2 {
  text-align: center;
  font-size: 8vw;
  margin-bottom: 2vw;
  font-family: parisienne;
  font-weight: 450;
}
body .notes p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 5vw;
  font-weight: 100;
}
body .notes img {
  width: 20vw;
  height: 20vw;
  margin: 10vw 0 5vw 50%;
  transform: translate(-50%, 0);
  animation: windy4 3s infinite alternate linear;
}
body .vid {
  width: 100%;
  background-color: #980538;
}
body .vid h2 {
  font-family: parisienne;
  font-size: 9vw;
  font-weight: 100;
  text-align: center;
  color: white;
}
body .vid video {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
body .comSection {
  width: 100%;
  background-color: #ffe9dd;
}
body .comSection h2 {
  text-align: center;
  font-size: 8vw;
  margin-bottom: 5vw;
  font-family: parisienne;
  font-weight: lighter;
}
body .comSection .comments {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
body .comSection .comments p {
  font-size: 5vw;
  text-align: left;
  color: #980538;
  word-wrap: break-word;
}
body .comSection .comments p span {
  font-size: 4vw;
  color: #980538;
}
body .comSection .form {
  width: 80%;
  margin: 5vw auto;
}
body .comSection .form label {
  width: 100%;
  font-size: 5vw;
}
body .comSection .form label input {
  width: 100%;
  height: 8vw;
  outline: none;
  border-radius: 8px;
  border: none;
}
body .comSection .form label textarea {
  width: 100%;
  height: 50px;
  resize: none;
  outline: none;
  border-radius: 8px;
  border: none;
}
body .comSection .form span {
  text-align: center;
  font-size: 3vw;
  margin: 4vw auto 0;
  display: block;
  color: red;
  opacity: 0;
}
body .comSection .form button {
  width: 50%;
  margin: 1vw auto 5vw;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 4vw;
  padding: 2vw;
  border-radius: 5px;
  display: block;
  color: #980538;
  border: 1px solid #980538;
}

@media only screen and (min-width: 1025px) {
  body {
    overflow-x: hidden;
  }
  body .opening img {
    width: 40vw;
    height: 40vw;
    top: 40%;
    animation: windy 4s infinite alternate linear;
  }
  body .opening h1 {
    font-size: 5.5vw;
  }
  body .opening h2 {
    font-size: 2vw;
    bottom: 10%;
  }
  body .content img {
    width: 7vw;
    height: 7vw;
  }
  body .content p {
    font-size: 3.5vw;
    line-height: 2vw;
  }
  body .content span {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
  body .content h3 {
    font-size: 5vw;
  }
  body .content .akad h2 {
    font-size: 5vw;
  }
  body .content .akad p {
    font-size: 2vw;
  }
  body .notes h2 {
    font-size: 5vw;
  }
  body .notes h3 {
    font-size: 2.5vw;
  }
  body .notes p {
    font-size: 2vw;
  }
  body .notes .links button {
    width: 7vw;
    height: 7vw;
    margin: 0 9vw;
    transform: none;
  }
  body .notes .links button a {
    width: 0;
    height: 0;
  }
  body .notes .links button a img {
    transform: none;
  }
  body .notes .links span {
    font-size: 2vw;
    margin: 0 7vw;
  }
  body .notes .links span:nth-of-type(3) {
    margin: 0 9vw;
  }
}

/*# sourceMappingURL=style.css.map */
